<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @subject.text %>
</p>

<p>
  <b>Haschildren:</b>
  <%= @subject.hasChildren %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
